{% extends 'layout.html' %}
{% block title %}
{{super()}}
Configurar Calendario
{% endblock %}

{% block main %}

<form action="" method="post">
    {% for dia,horario in calendario.items() %}
    <div class="field">
        <label class="label">{{ dia|capitalize }}</p>

            <div class="control">
                {% for horario,tipo in horario.items() %}
                <div class="select">
                    <select name="{{ dia }}_{{ horario }}" id="{{ dia }}_{{ horario }}">
                        {% for opcion in context['opcion_recogida'] %}
                            <option value="{{opcion}}" {% if tipo == opcion %} selected="selected" {% endif %}>{{ opcion|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
    </div>

    {% endfor %}
    <div class="field" style="display: flex;">
        <div class="control">
            <button class="button is-light" type="submit">Guardar</button>
        </div>
    </form>
    <div class="control">
        <a href="/home" class="button is-light" type="submit">Volver</button>
    </div>
    </div>

{% endblock %}