{% extends 'layout.html' %}
{% block title %}
{{super()}}
Home
{% endblock %}
{% block main %}
<table class="table is-striped">
  <thead>
    <th></th>
    <th>Mañana</th>
    <th>Tarde</th>
    <th>Noche</th>
  </thead>
    <tbody>
      {% for dia,horario in calendario.items() %}
      <tr>
          <th>{{ dia|capitalize }}</th>
          {% for horario,tipo_residuo in horario.items() %}
            {% if tipo_residuo != 'ninguno' %}
            <td><span class="tag is-medium">
              <img src="../static/img/{{ tipo_residuo }}.svg" alt=""><p>{{ tipo_residuo|capitalize }}</p>
            </span></td>
            {% else %}
            <td></td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}