{% extends 'layout.html' %}
{% block title %}
{{super()}}
Home
{% endblock %}
{% block main %}
<table class="table is-striped">
    <tbody>
      {% for dia,horario in calendario.items() %}
      <tr>
          <th>{{ dia|capitalize }}</th>
          {% for horario,tipo_residuo in horario.items() %}
            <td><span class="tag is-medium"><img src="../static/img/{{ tipo_residuo }}.svg" alt="">{{ tipo_residuo|capitalize }}</span></td>
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}