{% extends 'layout.html' %}

{% block main %}
<form action="/" method="post">
    <section class="fondo">
  <div class="formulario0">
      <section class="formulario">
  
  
  <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input class="input is-rounded" type="text" placeholder="Marta" name="nombre" required>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Apellidos</label>
      <div class="control has-icons-left has-icons-right">
        
        <input class="input is-rounded" type="text" placeholder="Caballero Hernández" name="apellidos" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
  
      </div>
    </div>
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-rounded" type="email" placeholder="marta.caballero@gmail.com" name="email" required>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          {% if texto == 'email' %}
          <i class="fas fa-exclamation-triangle"></i>
          {% else %}
          <i class="fas fa-check"></i>
          {% endif %}
        </span>
      </div>
      {% if texto == 'email' %}
      <p class="help is-danger">Este email ya existe, <a href="/login">Logearse</a></p>
      {% endif %}
    </div>
   
  
  
       
          <div class="field">
              <label for="" class="label">Contraseña:
                <input class="input is-rounded" type="password" placeholder="******" name="contrasena" required>
            </label>
          </div>
    
                
          <div class="field">
            <label for="" class="label">Localidad:
                <select id="" class="input is-rounded" name="localidad" placeholder="Localidades" required>
                    
                    <option value=""></option>
                    <option value="Alaró">Alaró</option>
                    <option value="Alcúdia">Alcúdia</option>
                    <option value="Algaida">Algaida</option>
                    <option value="Andratx">Andratx</option>
                    <option value="Ariany">Ariany</option>
                    <option value="Artà">Artà</option>
                    <option value="Banyalbufar">Banyalbufar</option>
                    <option value="Binissalem">Binissalem</option>
                    <option value="Búger">Búger</option>
                    <option value="Bunyola">Bunyola</option>
                    <option value="Caimari">Caimari</option>
                    <option value="Cala d'Or">Cala d'Or</option>
                    <option value="Cala Figuera">Cala Figuera</option>
                    <option value="Cala Millor">Cala Millor</option>
                    <option value="Cala Ratjada">Cala Ratjada</option>
                    <option value="Cala San Vicente">Cala San Vicente</option>
                    <option value="Calas de Mallorca">Calas de Mallorca</option>
                    <option value="Calonge">Calonge</option>
                    <option value="Calvià">Calvià</option>
                    <option value="Campanet">Campanet</option>
                    <option value="Campos">Campos</option>
                    <option value="Can Picafort">Can Picafort</option>
                    <option value="Capdepera">Capdepera</option>
                    <option value="Cas Catala">Cas Catala</option>
                    <option value="Colonia de Sant Jordi">Colonia de Sant Jordi</option>
                    <option value="Colonia de Sant Pere">Colonia de Sant Pere</option>
                    <option value="Consell">Consell</option>
                    <option value="Costitx">Costitx</option>
                    <option value="Deia">Deia</option>
                    <option value="El Arenal">El Arenal</option>
                    <option value="Es Capdella">Es Capdella</option>
                    <option value="Esporles">Esporles</option>
                    <option value="Estellencs">Estellencs</option>
                    <option value="Felanitx">Felanitx</option>
                    <option value="Galilea">Galilea</option>
                    <option value="Illetas">Illetas</option>
                    <option value="Inca">Inca</option>
                    <option value="Llubí">Llubí­</option>
                    <option value="Llucmajor">Llucmajor</option>
                    <option value="Magaluf">Magaluf</option>
                    <option value="Manacor">Manacor</option>
                    <option value="Maria de la Salut">Maria de la Salut</option>
                    <option value="Muro">Muro</option>
                    <option value="Palma">Palma</option>
                    <option value="Palmanova">Palmanova</option>
                    <option value="Peguera">Peguera</option>
                    <option value="Petra">Petra</option>
                    <option value="Pollensa">Pollensa</option>
                    <option value="Porreres">Porreres</option>
                    <option value="Portals Nous">Portals Nous</option>
                    <option value="Porto Cristo">Porto Cristo</option>
                    <option value="Portocolom">Portocolom</option>
                    <option value="Portopetro">Portopetro</option>
                    <option value="Puerto de Alcudia">Puerto de Alcudia</option>
                    <option value="Puerto de Andratx">Puerto de Andratx</option>
                    <option value="Puerto de Pollensa">Puerto de Pollensa</option>
                    <option value="Puerto de Soller">Puerto de Soller</option>
                    <option value="Puigpunyent">Puigpunyent</option>
                    <option value="S'Alqueria Blanca">S'Alqueria Blanca</option>
                    <option value="S'Estanyol">S'Estanyol</option>
                    <option value="S'Horta">S'Horta</option>
                    <option value="S'Illot">S'Illot</option>
                    <option value="Sa Coma">Sa Coma</option>
                    <option value="Sa Pobla">Sa Pobla</option>
                    <option value="Sa Rapita">Sa Rapita</option>
                    <option value="San Lorenzo des Cardassar">San Lorenzo des Cardassar</option>
                    <option value="Sant Elm">Sant Elm</option>
                    <option value="Sant Joan">Sant Joan</option>
                    <option value="Santa Eugenia">Santa Eugenia</option>
                    <option value="Santa Margalida">Santa Margalida</option>
                    <option value="Santa Mari­a del Cami">Santa Mari­a del Cami</option>
                    <option value="Santa Ponsa">Santa Ponsa</option>
                    <option value="Santanyi">Santanyi</option>
                    <option value="Selva">Selva</option>
                    <option value="Sencelles">Sencelles</option>
                    <option value="Ses Salines">Ses Salines</option>
                    <option value="Sineu">Sineu</option>
                    <option value="Soller">Soller</option>
                    <option value="Son Serra de Marina">Son Serra de Marina</option>
                    <option value="Son Servera">Son Servera</option>
                    <option value="Valldemossa">Valldemossa</option>
                    <option value="Vilafranca de Bonany">Vilafranca de Bonany</option>
                </select>
                
                </label>
            </div>
    
   
    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-rounded" type="submit">Registrarme</button>
      </div>
    </div>
    <div class="field">
    </div>
  </section>
  </div>
  </form>
  <a href="/">Registrarse</a>
  <a href="/login">Logearse</a>
  </section>
{% endblock %}